nav {
    position: fixed;
    // top: 10px;
    // right: 10px;
    z-index: 3;
    width: 100%;
    padding: 15px;
    background-color: #FFF;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    a {
        color: #2E4347;
        text-decoration: none;
        margin-right: 30px;
        &:hover {
            color: #C0D1C2;
        }
    }
    #home {
        margin-right: 10px;
    }
}