.notFound {
    height: 100vh;
    position: relative;
    background-image: url('https://media1.giphy.com/media/iF3M9gPPCdulq/giphy-preview.gif');
    background-repeat: none;
    background-size: 100% 100%;

}

.notFoundContent {
    text-align: center;
    position: absolute;
    top: 40%;
    font-family: 'Montserrat', sans-serif;
    
    width: 100%;
    text-align: center;
    h1 {
        color: #FFF;
        margin-top: 0px;
        font-size: 3em;
    }
    #returnHome {
        color: #fff;
        font-size: 1.5em;
    }
}