#favoritesContainer {
    position: absolute;
    top: 35px;
    width: 100%;
    .imageContainer {
        display: inline-block;
        width: 100%;
    }
    div {
        // display: inline-block;
        float: left;
        width: 20%;
        height: 19vh;
        img {
            width: 100%;
            height: 100%;
            overflow: hidden;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

#favoritesContainer > div.wrap {
    display: inline-block;
    clear: both;
}