#favoritesContainer {
    position: absolute;
    top: 35px;
    width: 100%;
    .imageContainer {
        display: inline-block;
        width: 100%;
    }
    div {
        // display: inline-block;
        float: left;
        width: 20%;
        height: 19vh;
        img {
            width: 100%;
            height: 100%;
            overflow: hidden;
            &:hover {
                cursor: pointer;
            }
        }
    }
}


#favoritesContainer > div.wrap {
    display: inline-block;
    clear: both;
}

#deleted {
    position: absolute;
    top: -41px;
    z-index: 3;
    text-align: center;
    left: 38%;
}

// #deleted {
//     opacity: 0;
//     position: absolute;
//     top: 60%;
//     left: 43%;
//     z-index: -1;
//     background-color: #FFF;
//     border-radius: 4px;
//     text-align: center;
//     .deletedTxt {
//         position: relative;
//         top: 30%;
//     }
// }

// #deleted.active {
//     // this will flash the deleted from the screen and then make it disappear
//     animation: showDeleted 1s forwards;
//     -webkit-animation: showDeleted 1s forwards;
//     // position: relative;
//     z-index: 5;
// }

// /* Safari 4.0 - 8.0 */
// @-webkit-keyframes showDeleted {
//     from {
//         opacity: 0;
//     }
//     to {
//         opacity: 1;
//     }
// }

// /* Standard syntax */
// @keyframes showDeleted {
//     from {
//         opacity: 0;
//     }
//     to {
//         opacity: 1;
//     }
// }