#resultsLeft{
    width: 60%;
    float: left;
    #backgroundImg {
        width: 100%;
        height: 100vh;
        background-image: url("https://media2.giphy.com/media/xUPGcniEGmJ8dV82Z2/giphy-preview.gif");
        background-repeat: none;
        background-size: 100% 100%;
    }
}

#resultsLeft.active {
    animation: moveLeft 4 forwards;
    -webkit-animation: moveLeft 4s forwards;
    position: relative;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveLeft {
    from {
        left: 0px;
    }
    to {
        left: -100%;
    }
}

/* Standard syntax */
@keyframes moveLeft {
    from {
        left: 0px;
    }
    to {
        left: -100%;
    }
}

#resultsRight {
    width: 40%;
    height: 100vh;
    display: inline-block;
    position: relative;
    .formResultContainer {
        z-index: 0;
        position: absolute;
        top: 40%;
        left: 30%;
    }
}

#resultsRight.active {
    animation: moveRight 4 forwards;
    -webkit-animation: moveRight 4s forwards;
    position: relative;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveRight {
    from {
        right: 0px;
    }
    to {
        right: -100%;
    }
}

/* Standard syntax */
@keyframes moveRight {
    from {
        right: 0px;
    }
    to {
        right: -100%;
    }
}

.formResultContainer {
    font-family: 'Montserrat', sans-serif;
}

#searchField {
    border: none;
    padding: 10px;
    border-radius: 4px;
    &:focus {
        outline: none;
    }
}

#submitBtn {
    display: block;
    border: none;
    background-color: #FFB884;
    color: #FFF;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    width: 100px;
    &:hover {
        cursor: pointer;
        background-color:#ca8553;
    }
}

#resetSearch {
    display: block;
}

#resultsContainer {
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    .imageContainer {
        display: inline-block;
        width: 100%;
    }
    div {
        // display: inline-block;
        float: left;
        width: 20%;
        height: 20vh;
        img {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }
}

#resultsContainer > div.wrap {
    display: inline-block;
    clear: both;
}

#resultsContainer.active {
    animation: changeOpacity 9s forwards;
    -webkit-animation: changeOpacity 9s forwards;
    
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes changeOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes changeOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}